/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding	{
	padding: 15px;
}

/* Posts */
.listItemContainer {
	height:50px;
	color:#777;
	font-weight: bold;
	background: #fff;
	font-size:1.2em;
	padding:10px;
	border-bottom:1px solid gray;
}

/*Compose*/
.toolbarButton	{
	height: 32px;
	margin: 6px;
	width: 32px;
	text-align: center;	
}

.buttonIcon		{
	margin-left: 7px;
}

#strongButton	{
	font-weight: bold;
}

#emButton		{
	font-style: italic;
}

#uButton		{
	text-decoration: underline;
}

#strikethroughButton	{
	text-decoration: line-through;
	text-align: center;
}

#refresh		{
	margin-left: 8px;
	margin-top: -3px;
}

#saveDraft		{
	margin-right: -2px;
	margin-top: -2px;
}

#newContent		{
	margin-left: 6px;
	margin-top: -1px;
}

#preview		{
	margin-left: 1px;
	margin-top: -1px;
}

#drawer		{
	margin-left: 10.5px;
	margin-top: -2px;
}